<html lang="en">
    <head>
        <title>Kickstarter - by Aspen Mesh</title>
        <link rel="icon" href="/images/favicon-64.png"/>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
        <script src="/javascripts/jquery-3.6.0.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <header class="align-items-center border-bottom pb-3 mb-5">
                <div class="px-4 my-5 text-center">
                    <img src="/images/aspenmesh-icon.png" width="200"/>
                    <h1>Aspen Mesh Kickstarter</h1>
                </div>
            </header>
            <main>
              {{{body}}}
            </main>
            <footer class="pt-5 my-5 text-muted border-top">
                Aspen Mesh &middot; &copy; 2022
            </footer>
        </div>
    </body>
</html>